<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rosinante24.newandroidtv">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- TV app need to declare touchscreen not required -->
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <!--
     true:  your app runs on only TV
     false: your app runs on phone and TV
    -->
    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />
    <application
        android:allowBackup="true"
        android:banner="@drawable/firebaseicon"
        android:icon="@drawable/firebaseicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Leanback">
        <activity
            android:name=".ui$Activity.MainActivity"
            android:icon="@drawable/firebaseicon"
            android:label="@string/app_name"
            android:logo="@drawable/firebaseicon">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui$Activity.DetailsActivity"
            android:label="@string/title_activity_details" />
        <activity android:name=".ui$Activity.ErrorActivity" />
        <activity
            android:name=".ui$Activity.PlayBackOverlayActivity"
            android:label="@string/title_activity_playback_overlay" />
        <activity
            android:name=".ui$Activity.GuidedstepActivity"
            android:theme="@style/Theme.Example.Leanback.GuidedStep" />

        <!-- Recommendation -->
        <provider
            android:name=".recommendation.RecommendationBuilder$RecommendationBackgroundContentProvider"
            android:authorities="com.rosinante24.newandroidtv"
            android:exported="true" />

        <activity
            android:name=".ui$Activity.SearchActivity"
            android:label="@string/title_activity_search" />
    </application>


</manifest>
